USE [RPA_Tienda]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 16/09/2025 3:01:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] NOT NULL,
	[title] [nvarchar](max) NULL,
	[price] [decimal](18, 2) NULL,
	[category] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[fecha_insercion] [datetime] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
